<div class="not-found-container">
  <div class="content">
    <h1 class="error-code">404</h1>
    <div class="divider"></div>
    <div class="text-section">
      <h2>Oops! Ruta no definida</h2>
      <p>Parece que el puntero apunta a <code>null</code>. La página que buscas no existe o fue movida a otra comisión.</p>
    </div>
    
    <div class="actions">
      <button routerLink="/home" class="btn-home">
        <span class="material-symbols-outlined">home</span>
        Volver al Inicio
      </button>
    </div>
  </div>
  
  <!-- Decoración técnica sutil -->
  <div class="bg-decoration">
    <code> status: 404, message: "Page Not Found", stack: "CursITU_v2.0" </code>
  </div>
</div>